* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0b1726;

  color: #4e96a6;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  font-size: 2.3rem;
}

a {
  text-decoration: none;
}

#nav__logo {
  position: absolute;
  left: 10%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 5rem;
  margin: 3% 8% 0 0;
}

.main__content {
  font-size: 3rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.apresentation__text {
  margin: 14rem 0 0 8rem;
}

.apresentation__image img {
  width: 20rem;
  margin: 6rem 12rem 0 0;

  border-radius: 50%;
  border: 4px solid #4e96a6;

  animation: float 2s ease infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
