* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: #986dff;
  cursor: url("/assets/images/cursor/default.png"), auto;
  -webkit-cursor: url("/assets/images/cursor/default.png"), auto;
}

.ibm-plex sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: #111111;
  background-repeat: repeat;

  letter-spacing: 0.5px;
}

a {
  cursor: url("/assets/images/cursor/handpointing.png"), auto;
  -webkit-cursor: url("/assets/images/cursor/handpointing.png"), auto;
}

.titles {
  font-size: 4rem;
  text-align: center;
  visibility: hidden;
}

.scroll {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #986dff;
  border-radius: 1rem;
}
