#aboutme__title {
  padding: 5rem 0 0 0;
}

.about {
  text-align: center;
  font-size: 2rem;
  line-height: 3.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emphasis {
  color: #b798ff;
}

#connect {
  padding: 1.8rem 0 0;
  color: #797e87;
  text-align: center;
  font-size: 2rem;
}

.connect__icons {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  margin: 1rem 0 10rem;
}

.connect__icons a img {
  height: 5rem;
  transition: 0.5s ease;

  cursor: url("/assets/images/cursor/handpointing.png"), pointer;
  -webkit-cursor: url("/assets/images/cursor/handpointing.png"), pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about {
    font-size: 2rem;
    line-height: 3.9rem;
    margin: 0;
  }
}
