.main__content {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apresentation__text {
  text-align: left;
  margin: 12% 10%;
}

.apresentation__emphasis {
  color: #f88104;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .apresentation__text {
    font-size: 2rem;
    margin: 11rem 2rem 0 3rem;
    padding: 0 0 3rem;
  }
}

/* small displays */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .apresentation__text {
    font-size: 2.4rem;
    margin: 14rem 2rem 0 3rem;
    padding: 0 0 3rem;
  }
}

/* tablets */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .apresentation__text {
    font-size: 2.6rem;
    margin: 15rem 3rem 4rem;
  }
}

/* bigger tablets and notebooks */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .apresentation__text {
    font-size: 3.3rem;
    margin: 15rem 4rem 0;
  }
}

/* desktops */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .apresentation__text {
    font-size: 3.5rem;
    margin: 20rem 7rem 13rem;
  }
}

/* bigger displays */
@media screen and (min-width: 1920px) {
}
