.main__content {
  font-size: 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.apresentation__text {
  margin: 23rem 0 23rem 10rem;
}

.apresentation__emphasis {
  color: #986dff;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}
