#contact__title {
  padding: 2rem 0 0 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26rem 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0.6rem 2.8rem;
  height: 37.5rem;
  width: 43.7rem;

  position: absolute;

  margin: 6.3rem 0;
}

.form > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  font-size: 2rem;
  margin-bottom: 0.3rem;
  color: #986dff;
}

form input {
  padding: 0.9rem;
  outline: none;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  transition: all 0.5s;
  color: #111111;
  border-radius: 1rem;

  cursor: url("/assets/images/cursor/textcursor.png"), text;
  -webkit-cursor: url("/assets/images/cursor/textcursor.png"), text;
}

form textarea {
  padding: 0.9rem;
  outline: none;
  font-size: 1rem;
  color: #111111;
  border-radius: 1rem;

  cursor: url("/assets/images/cursor/textcursor.png"), text;
  -webkit-cursor: url("/assets/images/cursor/textcursor.png"), text;
}

form button {
  margin: 1.5rem 0 5rem;
  padding: 0.9rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid;
  color: #b798ff;
  transition: all 1s;

  cursor: url("/assets/images/cursor/handpointing.png"), pointer;
  -webkit-cursor: url("/assets/images/cursor/handpointing.png"), pointer;
}

form button:hover {
  transition: 0.8s;
  transform: scale(1.05);
}
