a {
  text-decoration: none;
}

.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

#nav__logo {
  font-family: "Sedan SC", serif;
  position: absolute;
  left: 10%;
  font-size: 3rem;
}

#nav__logo a {
  color: #986dff;

  cursor: url("/assets/images/cursor/default.png"), default;
  -webkit-cursor: url("/assets/images/cursor/default.png"), default;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 3rem;
  margin: 3rem 8% 0 0;
  font-size: 2rem;
}

.nav__itens a {
  position: relative;
  padding: 0 0 6rem;
  color: #797e87;
}

.nav__itens a:after {
  content: "";
  position: absolute;
  background-color: #b798ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 5.6rem;
  transition: 0.5s;
}

.nav__itens a:hover {
  transition: 0.5s;
  color: #b798ff;
}

.nav__itens a:hover:after {
  width: 100%;
}
