#projects__title {
  padding: 5rem 0 0 0;
}

.projects {
  display: grid;
  gap: 1rem;
}

.project__card {
  display: flex;

  color: #b798ff;
  font-size: 2rem;

  width: 18rem;
  height: 12rem;
  background-color: #151515;
  border: solid 1px #b798ff;
}

.card__title {
  font-size: 1.3rem;
  padding: 0.5rem 0 0 1rem;
}

.card__description {
}
