#projects__title {
  padding: 5rem 0 0 0;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.project__card {
  display: flex;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 15%;
  background-color: #986dff;
  border: solid 3px #b798ff;

  color: #b798ff;
  font-size: 2rem;
  align-items: center;
  justify-content: center;

  cursor: url("/assets/images/cursor/handpointing.svg"), auto;
  transition: 0.5s;
}

.project__card:hover {
  width: 20rem;
  height: 20rem;
}
