#skills__title {
  padding: 5rem 0 0 0;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10rem;
}

.skills__cards {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 13rem;
  height: 13rem;
  background-color: #151515;
  border: solid 1px #1f1f1f;
}

.skills__cards img {
  width: 10rem;
  height: 10rem;
}
